.fullsec{
    width: 100%;
}

.mainbox{
    display: flex;
    flex-direction: column;
    
    background-color: #FDFDFD;
    padding: 20px;
    width: 60%;
    min-width: fit-content;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.box1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(155, 155, 155, 0.623);
}
.mainbox h3{
    font-size: 16px;
    color: #8B8D9D;
}
.mainbox h5{
    font-weight: 200;
    color: #434552  ;
    font-size: 16px;
}
.box2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.individual{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}
.indstatus{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.indstatus h5{
    border-radius: 6px;
    padding: 5px;
}