
.modal{
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.popupoverlay{
    height: 400px;
    width: 500px;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.popuptab h1{
    color: black;
}
.popuptab{      
    height: 100%;
    width: 100%;
    background-color: #FDFDFD;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.msgsec1{
    height: 40%;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
.msgsec2{
    height:60% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.msgsec2 button{
    width:40%;
    height: 30%;
    border-radius: 5px;
    background-color: #009FED;
}
.msgsec2 button:hover{
    scale: 1.05;
}