.popupoverlay{
     position: fixed;
        top: 30%;
        left: 50%;
    height: 400px;
    width: 300px;
    z-index: 1000;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popuptab h1{
    color: black;
}
.popuptab{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.msgsec1{
    height: 40%;
    width: 100%;
    background-color: #EAF9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.msgsec2{
    height:60% ;
    display: flex;
    flex-direction: row;

}
.msgsec2 button{
    width:30%
    
}