    *{
        margin: 0;
        box-sizing: border-box ;
        
        
    }
body{
    background-color: #FAFAFA;

}
main{
    display: flex;
}
/* aside{
    height: 100vh;
    background-color: #FFFFFF;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */

/* aside nav{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
aside nav li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: white;
    font-size: 19px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #009FED;
    border: 2px solid transparent;
} */


li:hover{
    border: 2px solid grey;
}
.right-side{
    width: calc(100% - 300px);
    background-color:#FAFAFA;
}
.sec1{
    height: 70px;
    background-color: white;
}
/* .sec2{  
    margin: 10px ; 
    padding: 18px 25px 18px;
    background-color: #FDFDFD;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */
.sec3{
    /* background-color: #FDFDFD; */

    /* background-color: red; */
    margin: 10px;
    /* padding: 20px; */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
}
