.EmployeeBox{
    background-color:#EAF9FF ;
    height: 55px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}
.employeeHeader{
    height: 100%;
    list-style-type: none;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    padding-right: 4%;
    /* color: #009FED; */
    font-size: 25px;
    font-weight: 500;
}
.employeeHeader li{
    width: 14%;
    display: flex;
    justify-content: center;
}



.list-tile{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    height: 600px;
    overflow-y: auto;
   margin-top: 15px;
   gap:10px;
    
}